<div>
<center>
  <h1>Hello there!</h1>
  <h2>What's your name?</h2>
  <form action="/birthday">
<input type="text" name="name">
<p></p>

<h3>When's your birthday?</h3>
<label for="day">day:</label>
  <input type="text">
  <label for="month">month:</label>
  <select id="month" name="month">
  <option selected>January</option>
  <option>February</option>
  <option>March</option>
  <option>April</option>
  <option>May</option>
  <option>June</option>
  <option>July</option>
  <option>August</option>
  <option>September</option>
  <option>October</option>
  <option>November</option>
  <option>December</option>
  </select>
  <p></p>
  <input type="submit" value="Go!">
</form>
</center>
</div>
